.article-about {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    gap: 2rem;

    .about-text {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        font-size: 1.3rem;
        font-weight: 200;
    }

    .about-image {
        padding: 10px;
        border: 2px solid map-get($layout-colors, 'primary');
        position: relative;
        img {
            border: 4px solid map-get($layout-colors, 'primary');
            width: calc(100vw - 24px - 4rem);
            height: calc(100vw - 24px - 4rem);
            max-width: 400px;
            max-height: 400px;
            object-fit: cover;
            overflow: hidden;
        }

        &::before, &::after {
            content: '';
            margin: 14px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(map-get($layout-colors, 'accent'), 0.1);
            transition: all 0.2s ease-out;
            position: absolute;
            z-index: 10;
        }

        &:hover::before {
            transform: translate(-14px, -14px);
            background-color: rgba(map-get($layout-colors, 'accent'), 0.05);
        }

        &:hover::after {
            transform: translate(14px, 14px);
            background-color: rgba(map-get($layout-colors, 'accent'), 0.05);
        }
    }
}