$colors: (
    primary: #1A2F7E,
    secondary: #2E4599,
    accent: #E1592E, // #B3D82C
    success: #34B826,
    error: #E1462E,
);

$text-colors: (
    primary-light: #212121,
    secondary-light: #757575,
    primary-dark: #e9f0ff,
    secondary-dark: #a2beff,
)