.tooltip {
    position: absolute;
    left: 50%;
    top:0;
    width: auto;
    height: auto;
    display: flex;
    gap: 0.5em;
    background-color: #000;
    border-radius: 10px;
    padding: 0.5em;
    transform: translate(-50%,calc(-100% - 0.5em));
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: all 0.2s ease-out;

    &.tooltip-active {
        visibility: visible;
        opacity: 1;
    }
    
    &::after {
        content: "";
        width: 0;
        height: 0;
        border: 0.5em solid transparent;
        position: absolute;
        border-top: 0.5em solid #000;
        transform: translate(-50%);
        left: 50%;
        bottom: -1em;
        z-index: 100;
    }
    
    &::before {
        content: "";
        top: -0.5em;
        left: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        position: absolute;
        z-index: -1;
    }
}